extends base
block content 
    .container-fluid
        .row
            .col-sm-12.col-md-6.col-lg-6.bg-secondary
                form.px-2.add-cat-form
                    .form-group.text-white
                        label(for='catadd1') Category Name
                        input#catadd1.form-control(type='text' name='catname' required='')
                    .form-group.text-white
                        label(for='catadd2') Category Description
                        textarea#catadd2.form-control(rows='5' type='text' name='catdesc' required='')  
                    .form-group.text-white
                        label(for='catadd3')
                        select#catadd3.form-control(name='catstatus' )
                            option Please select a option
                            each el,i in catdata
                              if `${el.parentstatus}`=='primary category'
                                option=`${el.catname}` 
                    .form-group.my-3.text-white
                        button.btn.btn-primary Add Category
            .col-sm-12.col-md-6.col-lg-6.bg-secondary
                .catitemdel(data-catid=`${delcatid}`)
                    if `${delcatid}`==''
                        .emptytext 
                    else
                        button.btn.btn-primary.text-white.delpcat Confirm Delete
                    
                table.table.px-3.text-white
                    thead
                        tr
                            th(scope='col') SN
                            th(scope='col') Category Name
                            th(scope='col') Parents Status
                            th(scope='col') Action
                    tbody
                        each el,i in catdata
                            tr
                                th=`${i+1}`
                                td=`${el.catname}`
                                td=`${el.parentstatus}`
                                td 
                                  a.text-white.px-1.updatecatid(href=`/updatecategory/${el._id}` data-updatecat=`${el._id}`) Upd
                                  a.text-white.px-1(href=`/viewcategory?delid=${el._id}`) Del
               
                
                //- button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
                //-   | Launch demo modal
                
                //- #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                //-     .modal-dialog
                //-         .modal-content
                //-         .modal-header
                //-             h5#exampleModalLabel.modal-title.text-white Modal title
                //-             button.btn-close.text-white(type='button' data-bs-dismiss='modal' aria-label='Close')
                //-         .modal-body
                //-             h6.text-white do you want to delete this item..?
                //-         .modal-footer
                //-             button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                //-             div.catitemdel(data-catid=`${delcatid}`)
                //-               button.btn.btn-primary(type='button' data-catid=`${delcatid}`) Delete
