extends base
block content 
    .container-fluid
        .row.py-3.bg-secondary
            form.px-2.postupdateform.row
                .col-sm-12.col-md-6.col-lg-6.px-3
                    .form-group.text-white
                        label(for='post1') Title
                        input#post1.form-control(type='text' name='title' value=`${updatepost.post_title}` required='')
                    .form-group.text-white
                        label(for='post2') Category Name
                        select#post2.form-control(name='postcatname' required='')
                            option=`${updatepost.category_name}`
                            option Select a option
                            each el,i in catalldata
                              option=`${el.catname}`
                    .form-group.text-white
                        label(for='post3') Publisher Name
                        input#post3.form-control(type='text' name='pubname' value=`${updatepost.author_name}` required='')
                    .form-group.text-white
                        label(for='post4') Tags
                        input#post4.form-control(type='text' name='tagsname' value=`${updatepost.tags}` required='')
                    .form-group.text-white
                        label(for='post5') Post Thumbnail
                        input#post5.form-control(type='file' name='posthumnail' accept='image/*' required='')
                .col-sm-12.col-md-6.col-lg-6.px-3
                    .form-group.text-white.my-4
                        textarea#post6.form-control(rows='10' name='postdesc' required='')=`${updatepost.post_desc}`
                    .form-group.py-3
                        button.btn.btn-primary.upd-post-btn(data-upd=`${updatepost._id}`) Update Post         